[2020-08-25 06:35] Xiangzhaohong opened #1 "How to train my own dataset?"
Thanks for your great work!
Is there any idea for training my own dataset to test this project?

[2020-08-25 07:23] maudzung commented on #1
Hi @Xiangzhaohong

You are welcome.
To use the source code with other datasets, first, you need to convert the dataset to KITTI format. (Of course, you can manipulate the code to load bev_maps and build targets correctly in the [kitti_dataset.py](https://github.com/maudzung/Super-Fast-Accurate-3D-Object-Detection/blob/master/src/data_process/kitti_dataset.py) file). Second, please take a look at [

[2020-08-25 08:28] Xiangzhaohong commented on #1
@maudzung thanks for reply.

[2020-08-25 08:28] #1 closed

[2020-08-27 11:40] iliiliiliili opened #3 "Evaluation report in README"
Hi,
Could you add evaluation report (with average FPS and detection accuracy) to README?
Thank you.

[2020-08-30 08:58] nikunj-phutela opened #4 "On running the pretrained model, an error occurs"
using ResNet architecture with feature pyramid

-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=-*=

Traceback (most recent call last):
  File "test.py", line 113, in <module>
    model.load_state_dict(torch.load(configs.pretrained_path))
  File "C:\Users\Asus\AppData\Local\Programs\Python\Python36\lib\site-packages\torch\serialization.py", line 593, in load

[2020-08-30 09:17] #4 closed

[2020-08-30 09:28] maudzung commented on #3
Hi @iliiliiliili
I'm writing a report on it. Thanks for your interest in my work!

[2020-08-30 09:28] #3 closed

[2020-08-30 15:08] Gatsby23 opened #5 "The Question about single GPU to test the model（run demo_front.py）"
Traceback (most recent call last):
  File "demo_front.py", line 47, in <module>
    model.load_state_dict(torch.load(configs.pretrained_path))
  File "/home/robotics/Application/Anaconda/anaconda3/envs/Object_Detection/lib/python3.6/site-packages/torch/serialization.py", line 593, in load
    return _legacy_load(opened_file, map_location, pickle_module, **pickle_load_args)
  File "/home/robotics/A

[2020-08-30 22:36] maudzung commented on #5
Hi @Gatsby23
I fixed the bug [here](https://github.com/maudzung/Super-Fast-Accurate-3D-Object-Detection/issues/4), please pull the latest code and try again. Thanks for reporting the bug.

[2020-08-30 22:36] #5 closed

[2020-09-01 14:52] Gatsby23 opened #6 "How to run it on Kitti odometry dataset?"
I'm sorry. I'm a fresh man to deep learning. Now, I can run the demo_front.py to run the kitti detection test data. But how to use it in kitti odometry velodyne dataset ? such as 00 sequence ? Can you give me some examples？

[2020-09-02 04:59] maudzung commented on #6
Hi @Gatsby23
I'm sorry. I have no experience in it. I'll try it later but I'm not sure when I can do it.

[2020-09-02 04:59] #6 closed

[2020-09-02 06:34] Gatsby23 commented on #6
I suppose that your code could use on different Lidar scan, as long as it follows the kitti format？ Right？

[2020-09-05 16:53] Jae-Seung-Jeon opened #9 "Using my own data"
**Hello, I want to create data using 3 Lidars and use your program. There are bin files and png files that I made.**

![Super2](https://user-images.githubusercontent.com/68648280/92309624-2627a080-efe2-11ea-98c1-d45e7cdb71ea.png)
![Super3](https://user-images.githubusercontent.com/68648280/92309629-2889fa80-efe2-11ea-8bc4-a326ed9c8580.png)

**But, how can I create a txt file to go into the Calib f

[2020-09-07 05:49] yukkysaito opened #11 "ROS node setup error"
I believe that python 2.7 is standard in ROS melodic, but pip install asks for pip3.
Please let me know if you have any ideas.

Environment
- ubuntu 18.04
- ros melodic

[code]

[2020-09-07 06:00] maudzung commented on #11
hi @yukkysaito

Actually, I have created a virtual environment with only python3.6, so I can use `pip install .`
You can try `pip3 install .`

[2020-09-07 06:03] maudzung commented on #9
Hi @Jae-Seung-Jeon
Of course, you can use the source code with your own data, but you need to manipulate the code.
I'll guide you on it soon!

[2020-09-07 08:59] maudzung commented on #11
Hi @yukkysaito
How is it going? If it works, please close the issue. Otherwise, we can help you to solve it. @AhmedARadwan

[2020-09-07 13:28] AhmedARadwan commented on #11
Hi @yukkysaito, Can you try using ``` pip3 install . ``` after the installation of pytorch?

[2020-09-08 09:35] maudzung commented on #11
It's not an issue of the source code.

[2020-09-09 10:17] Jae-Seung-Jeon commented on #9
Thank you very much @maudzung !! If possible, politely ask within a few days. I am using 3 VLP16. Thank you so much for the replies and feedback.

[2020-09-13 06:02] gujiaqivadin opened #12 "Performance and speed"
Hello, maudzuang!
       Thanks for sharing your nice work SFA3D! Can you provide its detection and speed performance on KITTI 3D Object Detection Dataset in README.md.

[2020-09-18 05:30] nullket commented on #11
This might not be a problem with the source itself, but with the README of the ROS part and therefore it is still a bug and should be reopend:

The ros README states that on Ubuntu 18.04 and with rosmelodic you would only need to run `pip install .` in order to install the dependencies. But in 18.04 the standard `python` interpreter is `2.7` and therefore `pip` tries to install dependencies for  2

[2020-09-18 05:50] nullket opened #13 "ROS can not find pretrained weights"
**Problem:**
Running the Nodes causes it to stop immediately stating that it can not find the file `fpn_resnet_18_epoch_300.pth`

**Solution:**

In [rosInference.py L119](https://github.com/maudzung/SFA3D/blob/master/ros/src/super_fast_object_detection/src/rosInference.py#L119) it tries to load the weights:

[code]

But those are not contained in `package_path` which is `/some_folders/some_more_fo

[2020-09-23 12:16] maudzung commented on #13
@nullket
Can you make a pull request on the issue? We will check and merge the PR.

Hi @AhmedARadwan
Do you have ideas on the issue?

[2020-09-23 12:20] AhmedARadwan commented on #13
Sure @maudzung. The proposed solution by @nullket will work.
Thanks @nullket for your help regarding this issue and I recommend you to make a pull request with the solution.

[2020-09-23 12:38] nullket commented on #13
I can surely do this, but I can not test anything and therefore guarantee that it is working (okay super small change, I know) as the whole python 2/3 situation is still not clear, see Issue #11

[2020-09-23 23:07] maudzung commented on #11
Thanks @nullket
@AhmedARadwan Can you check the issue and update the instructions in README?

[2020-09-24 00:00] AhmedARadwan commented on #11
@maudzung okay I'll edit the README asap

[2020-09-26 01:15] FFudi opened #14 "What part can I refer to to detect continuously?"
The object disappears from the front and rear of the vehicle through the image and is detected again. What part can I refer to to detect continuously? Is the point cloud divided into the front and the rear to be detected? Thank you for providing great work.

[2020-10-17 00:25] #11 closed

[2020-10-17 00:26] #13 closed

[2020-10-23 08:19] mive93 opened #15 "Problem with training on Waymo"
Dear @maudzung,

first, thank you for your work.
@lucabart97 and I, have spent the last week trying to train this network on the Waymo dataset.
We first used [your other repo](https://github.com/maudzung/convert_waymo_2_kitti) to convert Waymo to Kitti format.
Then we changed the train.txt and val.txt files and also [kitti_config.txt](https://github.com/maudzung/SFA3D/files/5428196/kitti_config.tx

[2020-10-23 09:15] maudzung commented on #15
Hi @mive93
Did you carefully visualize and check the converted dataset?

[2020-10-23 09:34] mive93 commented on #15
Yes, we did.
We visualized everything (cloud, images and labels) and the conversion was okay.

[2020-10-24 13:54] maudzung commented on #15
Because of my limited resource, I didn't try to train the network on the Waymo dataset. I thought I should be trained well on the Waymo dataset also. There are 5 components in the total loss, you can check each curve to check which components aren't changed over time.

[2020-10-26 07:35] mive93 commented on #15
Thank you for your answer.
I have checked the components, and the one causing problem is train_hm_cen_loss, that always has a fixed value.
Do you think it's related to the conversion?

[2020-10-28 08:05] MukundVarmaT commented on #15
Hi! I have noticed a similar issue while training on the Kitti Dataset but not always. During some runs, the loss starts reducing but after some epochs the center heatmap loss increases and stays constant while in some other cases it keeps increasing and decreasing. I have also noticed a similar case while changing resnet-18 to resnet-34 and I am not sure why.

Some failure cases:
![Screenshot fro

[2020-11-08 15:04] deepmeng opened #16 "Evaluation"
Hi, Nguyen. I evaluated this work by using the 'kitti eval' tool. As far as I know, this SFA3D has the same detection range as your work of  [https://github.com/maudzung/Complex-YOLOv4-Pytorch](url) and [https://github.com/maudzung/YOLO3D-YOLOv4-PyTorch/](url). However, this work has a better performance than the other two work. Please tell me if my conclusion about these three methods' performanc

[2020-11-08 15:08] iliiliiliili commented on #16
@deepmeng, could you share evaluation results here? As far as I know, there are no available KITTI evaluation results for this method. Thanks

[2020-11-09 00:04] maudzung commented on #16
Hi @deepmeng

Yeb, this work has a better performance compared to the YOLO-based methods in both accuracy and speed.
Please contribute the full evaluation tool if you make it. Thanks.

[2020-11-17 14:14] vVVtreasure opened #17 "New train model can not be used"
![2020-11-17 22-12-16屏幕截图](https://user-images.githubusercontent.com/22070419/99400713-41882380-2922-11eb-9117-e5cb009bfcc5.png)

[2020-11-17 14:15] vVVtreasure commented on #17
No changes have been made to use the original code and commands。
python3 train.py --gpu_idx 0

[2020-11-18 11:15] #17 closed

[2020-11-19 08:51] yxt916 opened #18 "Usage in ROS"
There is little information of the usage in ROS.
Could you update the README and give more information?
By the way, I want to use this to deal with the point cloud from a camera(like stereo camera), is it OK?

[2020-11-23 03:01] yxt916 commented on #18
I find it, we must download the zip then we can find the ros folder.
But have an error when:
[code]
Should i downlad something?

[2020-11-25 04:00] yxt916 commented on #18
@AhmedARadwan

[2020-11-26 02:04] arjunskumar opened #19 "False Object detection when running on autoware ROSbags"
Used `wget https://autoware-ai.s3.us-east-2.amazonaws.com/sample_moriyama_150324.tar.gz` ROSbag file,
but many times false objects were detected.

Could you please share a sample data-set to validate the ROS inference node?

[2020-12-09 06:26] #18 closed

[2020-12-11 13:35] #16 closed

[2020-12-11 13:41] deepmeng opened #21 "Did you ever try the resnet50, resnet101 and resnet 152 in your work?"

[2020-12-16 18:17] rttariverdi67 opened #22 "Run on single GPU"
hi,
how can I run this code on a single GPU?

[2020-12-19 19:00] zmin666666 opened #23 "High Positive False Issue"
Dear @maudzung

Thanks for your great work! We have trained SFA3D in the Waymo dataset. It seems great but still a problem. The False positive is common. Like in this picture, the bounding box is shown in a place without a car even when I set the thresh as 0.4. May you give us some tips to improve the result? Thanks

![Screenshot from 2020-12-19 13-51-29](https://user-images.githubusercontent.com/

[2020-12-23 13:24] maudzung commented on #23
Great to see your work on it. I think you can set a bigger weight for the center loss component to reduce the false positive cases.
How about its performance on Waymo? Did you evaluate?

[2020-12-23 13:25] maudzung commented on #22
Hi @rttariverdi67
By default, the model is trained and inferenced on a single gpu. Please read the Readme.md file to see more details

[2020-12-23 13:26] maudzung commented on #21
Hi @deepmeng
I didn't try. But you can simply change the architecture via training argument.

[2020-12-23 13:28] maudzung commented on #19
Hi @arjunskumar
I have no ideas on it. Can you please contact to @AhmedARadwan for the ROS implementation?

[2020-12-23 13:29] maudzung commented on #15
Let me check again about the center heatmap generation to see what happended.

[2020-12-23 17:07] zmin666666 commented on #23
![Screenshot from 2020-12-23 12-01-09](https://user-images.githubusercontent.com/35618385/103020564-9e28c080-4516-11eb-99ef-7f1821d8cee7.png)
Thanks for your suggestion! This is the eval result in one Waymo data sequence (200 lidar bins). I do not know why easy, medium, and hard res are the same. Besides, I also try to use resnet34 and resnet50 as a backbone but the hm_loss can't converge. Have yo

[2020-12-24 08:18] zmin666666 commented on #15
Hi, @mive93, @maudzung

I also tried to train the SFA3D in the Waymo dataset and meet the same loss problem when using resnet34 and resnet50. If I use loss = loss - (pos_loss/num_pos + neg_loss/num_neg) and set the LR rate to 0.0005, the loss problem will be solved but the prediction res will be worse. Have you solved this problem?

Zhimin Chen

[2020-12-30 05:59] arjunskumar commented on #19
@AhmedARadwan Could you share the ROS bag file?

[2020-12-30 09:59] maudzung commented on #23
I only trained the resnet18-based model.
To reduce false positive cases, you can try to increase 'peak_thresh' value. By default, its value has been set to 0.2.

[2021-01-05 11:12] zwqnju opened #24 "IndexError"
When I run visualization, inference, and demo scripts, there always occurs this error for some specific frame:
[code]
How can I fix it?

[2021-01-05 11:59] maudzung commented on #24
Thanks for reporting the bug. Please check out the latest code. I fixed it

[2021-01-05 11:59] #24 closed

[2021-01-05 12:42] YoushaaMurhij opened #25 "RuntimeError while training FPN-Resnet18/34/50"
I got this error while trying to train fpn-resnet18/34/50 model on kitti.
It seems that  out_layer3 outputs `torch.Size([16, 256, 39, 39])` while up_level1 outputs `torch.Size([16, 512, 40, 40])`. Please can you suggest how to get rid of this error?
[code]

[2021-01-05 22:30] maudzung commented on #14
It's because of the KITTI dataset, they don't label objects that are not in the images. You can apply a simple tracking algorithm to keep objects' predicted label

[2021-01-05 22:30] #14 closed

[2021-01-05 22:35] maudzung commented on #25
How about the input size?

[2021-01-06 11:41] YoushaaMurhij commented on #25
The input is 609, 609

[2021-01-06 21:41] maudzung commented on #25
It should be 608x608x3

[2021-01-06 22:34] YoushaaMurhij commented on #25
I tried that before. It throughs this error:
[code]

[2021-01-07 05:11] maudzung commented on #25
Did you get the latest code from the repo?

[2021-01-07 10:16] YoushaaMurhij commented on #25
Yes, sure

[2021-01-07 10:26] maudzung commented on #25
I think you didn't. Can you execute git pull and run again

[2021-01-07 21:08] YoushaaMurhij commented on #25
`Already up to date.`
When I change the input size in kitti config to 609, 609. I get the first error again

[2021-01-08 05:13] maudzung commented on #25
Hi @YoushaaMurhij
Of course, the input size should be `608x608x3`.

How about the error? Did it disappear?
[code]

[2021-01-08 09:57] YoushaaMurhij commented on #25
No, it didn't.

[2021-01-08 13:02] maudzung commented on #25
Really weird. What did you execute?

[2021-01-08 13:03] maudzung commented on #25
Anh please give me your git log

[2021-01-08 13:39] YoushaaMurhij commented on #25
Here is git [log](https://docs.google.com/document/d/178TQnSCWhbx6-aIoDxXge9GM5359jRwBv8x_lRI-WjU/edit?usp=sharing):
I excuted : `python train.py --gpu_idx 0`
Thank you for your replies and will to help :)

[2021-01-08 13:43] maudzung commented on #25
![4E238028-8B1A-4445-AD57-B050D8C2D256](https://user-images.githubusercontent.com/15675550/104021910-e75d5d80-5202-11eb-87ab-b713b86ab6d4.jpeg)

[2021-01-08 13:44] maudzung commented on #25
You can `git pull` or `git reset --hard 18d1d37c33dd46980eec56d62ec76c50a43b06bc `

[2021-01-09 00:12] #25 closed

[2021-01-12 06:03] tranducanhbk opened #26 "Làm thế nào để tạo Custom dataset?"
Hi Dũng,
Mình muốn train với tập dữ liệu tự tạo
Làm thế nào để tạo các file dữ liệu bên dưới nhỉ:
Velodyne point clouds
Training labels of object data set
Camera calibration matrices of object data set
Left color images of object data set (12 GB)

Cám ơn

[2021-01-13 15:29] nicholasguimaraes commented on #9
Do we have a tutorial on how to train  the network on our own data yet?

[2021-01-19 08:55] vivi0604 opened #27 "Have you compared SFA3D with complex_yolov4? Which algorithm is better?"

[2021-01-31 22:31] #23 closed

[2021-01-31 22:31] #19 closed

[2021-01-31 22:33] #21 closed

[2021-01-31 22:35] maudzung commented on #26
Hi @tranducanhbk

Minh dung KITTI dataset, ban tham khao thong tin ve sensor setup [tai day](http://www.cvlibs.net/datasets/kitti/setup.php) nhe

[2021-02-03 00:46] #26 closed

[2021-02-09 18:40] oggyfaker opened #29 "Bad Loss Of Model"
Hi author,
I'm really appreciate you for the nice source code. But when i set up enviroment for training , i can't achieve good result like your repo . I got the nice loss of training , but in validation loss increase , i think may be the model is overfitting . May be can you recommand me some way to improve the accuracy ?
Thanks !

![image](https://user-images.githubusercontent.com/44501897/10741

[2021-02-17 08:04] Suri12990 opened #30 "How you are doing data augmentation?"
Hi Maudzung,

Thank you for your great work. But I just need to know how you are doing data augmentation and where?
Could you please give me the hyperlink to data augmentation in your implementation?

I tried to find data augmentation, but I could not make it.

Thanks in advance

[2021-02-17 22:39] maudzung commented on #30
It was applied [here](https://github.com/maudzung/SFA3D/blob/5f042b9d194b63d47d740c42ad04243b02c2c26a/sfa/data_process/kitti_dataset.py#L95). For more information, please take a look at [this file](https://github.com/maudzung/SFA3D/blob/master/sfa/data_process/transformation.py)

[2021-02-17 22:39] #30 closed

[2021-02-22 17:10] mariya12290 opened #31 "How long it will take to reimplement this code in tensorflow?"
Hey maudzung,

I am thinking to re implement your work in tensorflow. Could you please explain how long it will take if I start now?

I have limited time to do so. that is the reason.

Thanks in advance.

[2021-03-03 08:49] vivi0604 commented on #29
I have the same problem. Have you solved it?

[2021-03-04 09:27] wangx1996 opened #32 "Add the pointpillar feature network instead of the human made picture"
Hello, have you ever tried to add the  pointpillar feature network instead of the human made picture of pointcloud? And how to choose the number of the batchsize and the epoch when you training this work? I would  appreciate that if you can reply on me.

[2021-03-05 11:45] SofianeB-03 opened #33 "Reference and performance"
Hello, thank you for your great work. I’m an intern who work on perception 3D for autonomous vehicles and I would like to use your project Super-Fast-Accurate-3D-Object-Detection-PyTorch. I have a suggestion : Is there a specific reference on this method and also is there comparison ((AP metric and inference time) with others methods on dataset like KITTI ?

Thank you.

[2021-03-17 08:05] urbansound8K opened #34 "measuring the distance"
do you have any idea how to measuring the distance of detected objects? I mean instate of presenting the FPS I want to display the distance of an object?

[2021-03-18 18:28] husnejahan opened #35 "How can I use a Lidar for live feed to the network?"
I want to use just a Lidar like Ydlidar to get live detection from the point cloud.
Can You guide me?

[2021-03-18 22:49] maudzung commented on #34
Hi @urbansound8K
For each detected object, we have information of its box:
- Center position  `x`, `y`, `z`,
- Size: `sx`, `sy`, `sz`
- Yaw angle

You can compute `distance = np.sqrt(x**2 + y**2 + z**2)`, then use `OpenCV` to write the information to the corresponding images

[2021-03-18 22:56] maudzung commented on #35
Hi @husnejahan
Thanks for your interest in my work.

The steps are:
- Extract your data as same as the KITTI format, please refer to the KITTI official website.
- Change the configuration of the dataset [here](https://github.com/maudzung/SFA3D/blob/master/sfa/config/kitti_config.py)
- Refer to the [demo_dataset.py](https://github.com/maudzung/SFA3D/blob/master/sfa/data_process/demo_dataset.py) to

[2021-03-18 22:59] maudzung commented on #32
HI @wangx1996

The `PointPillar` approach is worth trying, but I haven't done experiments using the approach.

[2021-03-18 23:01] maudzung commented on #31
Hi @mariya12290
I think it's quite easy to re-implement this Pytorch work in `tf2`.
First, you need to build the model, create the data loader using tf2, then write the training and testing scripts for the task. That's all :-)

[2021-03-18 23:06] maudzung commented on #27
Hi @vivi0604
I prefer `SFA3D` because of its practical applications in terms of balancing both accuracy and speed (both training and inference phases).
The `ComplexYOLO` model requires us to choose good pre-defined anchors that is not an easy task for the rotated boxes detection.

[2021-03-18 23:06] #27 closed

[2021-03-18 23:08] maudzung commented on #15
I think the problem is related to the reported issue [here](https://github.com/maudzung/RTM3D/issues/10). I'll try to solve the problem in the near future.

[2021-03-19 01:10] wangx1996 commented on #32
HI @maudzung
In these days, I tried to add the pointpillar head to make an anchor free detecion method, and I publish on my github https://github.com/wangx1996/CenterPillarNet
But it still has a lot of problems, the AP looks not so good, and  I don't know how to improve this.

[2021-03-19 02:29] vivi0604 opened #36 "overfitting"
I'm really appreciate you for the nice source code.  With my own datasets, i got the nice loss of training , but in validation loss increase , i think may be the model is overfitting . Can you recommand me some way to improve the accuracy ?
lr=0.0006, epochs=120 ,6630 frames for training
![image](https://user-images.githubusercontent.com/38038575/111722994-dafa1e80-889d-11eb-82de-4fd1c7512485.png)

[2021-03-22 06:04] yzfneo commented on #35
@maudzung Thank you for you great work! Based on this topic, just curious that if the detection is made on ROS platform, can we just use/modify [this script](https://github.com/maudzung/SFA3D/blob/ea0222c1b35489dc35d8452c989c4b014e20e0da/ros/src/super_fast_object_detection/src/rosInference.py) for point cloud topic subscriptions, and achieve similar detection as Kitti dataset? (Do we need any addi

[2021-03-23 05:17] urbansound8K commented on #34
Hey there
Thank you very much for replying and your great job.

when I measured and disapplied the distance I got wired results.  it gives me extra results every time I display a new scene. to break it down, image that I have a scene with two objects, but the output of it is 5 values. Also, it display the last results only.

![lidarpng](https://user-images.githubusercontent.com/56126016/112096921-

[2021-03-26 16:15] SofianeB-03 opened #37 "Can you provide a script evaluate.py please ?"
Hello, thanks you for your great work! It's very interesting. I would like to evaluate this model (AP per classe and mAP) like ComplexYolov4. Can you provide a script evaluate.py please?

thank you.

[2021-03-29 16:44] bilgecanpullinen commented on #16
Hi @deepmeng  and @maudzung
I couldn't figure out how I can evaluate (write the prediction results as txt files). Could you share your evaluation file.
Thanks

[2021-03-29 18:03] bilgecanpullinen commented on #37
Hi @maudzung , I am interested in your work as well and it would be amazing if you could share the evaluation file.
Thank you

[2021-03-30 01:27] deepmeng commented on #16
@bilgecanpullinen OK. The code in my hand is chaotic. I will fine-tune and share the code.

[2021-03-30 02:51] deepmeng commented on #16
Hi @iliiliiliili and @bilgecanpullinen . I forked this repo and I added the evaluation tools. I didn't merge my code to this repo because my code is not concise. You can refer to this repo (https://github.com/reinforcementdriving/Super-Fast-Accurate-3D-Object-Detection),  extract and adapt the related code to evaluate the prediction results.

[2021-03-30 08:56] bilgecanpullinen commented on #16
Thank you I have tried but now I have some problem with the dataloader.;
eval.py line 112   val_dataloader, val_dataset =
create_val_dataloader(configs) gives me a value error, which is too many
values to unpack(expected 2).
But you have used at your train.py the same way for
create_train_dataloader. So do you have any idea how I can manage this one.

deepmeng ***@***.***>, 30 Mar 2021 Sal, 05:51

[2021-03-30 09:05] iliiliiliili commented on #16
Thank you, @deepmeng. Could you add evaluation results on KITTI validation subset with your code to README? It would be very helpful 🙂

[2021-03-30 09:10] deepmeng commented on #16
@bilgecanpullinen
Please try to modify the function 'create_val_dataloader(configs)' at line 54 in 'sfa/data_process/kitti_dataloader.py':
'return val_dataloader, val_dataset'.

[2021-03-30 11:56] bilgecanpullinen commented on #16
Thank you again. Everything worked good until the kitti-eval now. Sorry for
asking again to you but it seems you are using the same kitti-eval-python
tool. I am receiving

 ERROR: The function received no value for the required argument:
label_split_file
Usage: evaluate.py evaluate LABEL_PATH RESULT_PATH LABEL_SPLIT_FILE <flags>
  optional flags:        --current_class | --coco | --score_thresh

F

[2021-03-30 12:07] deepmeng commented on #16
I used this tool (https://github.com/prclibo/kitti_eval). If you can't use the kitti eval tool properly, I have no idea.

[2021-03-30 12:58] bilgecanpullinen commented on #16
Thank you again. I am having another problem and sorry for asking it again
but I have tried many things.
 g++ -o evaluate_object_3d_offline evaluate_object_3d_offline.cpp -O3
evaluate_object_3d_offline.cpp:12:10: fatal error:
boost/numeric/ublas/matrix.hpp: No such file or directory
 #include <boost/numeric/ublas/matrix.hpp>
          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

This

[2021-03-30 13:09] deepmeng commented on #16
Well. I'm not sure your experimental environment. You must make sure you have installed the Boost library. Maybe you can try 'sudo apt-get install libboost-all-dev'.

[2021-03-30 13:12] bilgecanpullinen commented on #16
Okay, I don't have the sudo right for that environment but I will manage it
from here. Thank you :)

deepmeng ***@***.***>, 30 Mar 2021 Sal, 16:09 tarihinde şunu
yazdı:

[2021-04-08 11:50] shen1994 opened #38 "loss reduce so slow"
tensor(1.9749, device='cuda:0')
tensor(1.8765, device='cuda:0')
tensor(1.9162, device='cuda:0')
tensor(1.6088, device='cuda:0')
tensor(1.7206, device='cuda:0')
tensor(2.1326, device='cuda:0')
tensor(1.7767, device='cuda:0')
tensor(2.1650, device='cuda:0')
tensor(1.9944, device='cuda:0')
epoch: 336======================================
save a checkpoint at ./checkpoint/fpn_resnet_34/Model_fpn_resne

[2021-04-22 20:56] halhwadi opened #39 "can i run it on windows 10 machine with cpu only (no gpu)?"

[2021-04-28 07:12] #31 closed

[2021-05-06 11:25] shen1994 opened #40 "bev not good, suggest one"
cpoint_cloud = np.copy(point_cloud)

	rgb_map = np.zeros((3, cnf.BEV_HEIGHT, cnf.BEV_WIDTH), dtype=np.float32)
	rgb_map_cnt = np.zeros((cnf.BEV_HEIGHT, cnf.BEV_WIDTH), dtype=np.int)
	max_height = float(cnf.boundary['maxZ'] - cnf.boundary['minZ'])
	for point in cpoint_cloud:
		x = np.floor(point[0] / cnf.DISCRETIZATION_X) + np.int_(cnf.OFFSET_X)
		y = np.floor(point[1] / cnf.DISCRETIZATION_Y) + np.

[2021-05-06 11:26] shen1994 commented on #40
BirdViewMap::BirdViewMap()
{
	params_ = std::make_shared<Config>();

	cudaMalloc((void**)&cnt_gpu_, params_->bev_size_ * sizeof(int));
	cudaMalloc((void**)&bev_gpu_, params_->bev_size_ * 3 * sizeof(float));
}

BirdViewMap::~BirdViewMap()
{
	cudaFree(cnt_gpu_);
	cudaFree(bev_gpu_);
}

__global__ void cuda_range_filter(float* pc, float min_x, float max_x,
	float min_y, float max_y, float min_z, floa

[2021-05-06 11:29] shen1994 opened #41 "i have found resnet50 has better performance than fpn_reset18/34"
cause info from pointcloud has not space structure, so it's results not so good, anchor free's method maybe not useful

[2021-05-06 17:07] SofianeB-03 commented on #23
Hello @Zhimin-C , I see that you have evaluated SFA3D on Waymo dataset. I want to evaluate on Waymo too  but I did not succeed. Could you tell me how did you evaluate it please? It will be very helpful for myself.
Thank you very much.

[2021-05-07 01:30] vivi0604 commented on #40
你好，我有两个问题向您请教：
1.这个改进可以提高精度吗？看代码没有太看懂，可以简单说一下思路吗？
2.第二部分代码是在用cuda加速第一部分吗？

[2021-05-07 01:35] vivi0604 commented on #41
请问你用的是kitti数据集吗？我用自己的数据集测试，resnet50+fpn好像不如fpn_reset18/34效果好呢

[2021-05-10 14:25] SofianeB-03 commented on #23
@Zhimin-C, if you could share me your pre-trained weights of SFA3D on Waymo that would be really super nice (I spent a lot of time trying to do this).
Thank you a lot!

[2021-05-11 09:44] shen1994 commented on #40
yep, speed first one

[2021-05-19 22:56] SofianeB-03 opened #42 "can someone provide pre-trained weights on waymo please ?"
Hello, If someone can provide pre-trained weights on data waymo, it would be very helpful !

[2021-05-27 01:04] vivi0604 opened #43 "KITTI:Overfitting"
I'm really appreciate you for the nice source code，I download your code and train with the Kitti dataset， the val loss curve is as follows:
![image](https://user-images.githubusercontent.com/38038575/119749356-8ab8c180-bec9-11eb-908c-04324e985ca7.png)
When I use the fpn_resnet_18_epoch_300.pth to pretrain, the val loss curve is as follows:
![image](https://user-images.githubusercontent.com/3803857

[2021-05-27 01:05] vivi0604 commented on #43
![image](https://user-images.githubusercontent.com/38038575/119749926-bd16ee80-beca-11eb-897d-2c833815faf6.png)

[2021-06-04 13:29] SofianeB-03 commented on #15
Hello @Zhimin-C , Can you tell me what is the values of the boundary min_Z and max_Z that you have used for Waymo please ? Because I think the range of Z-axis has an impact in the predictions according the dataset (the height of the lidar).

Thanks.

[2021-06-04 13:37] asuleyman opened #44 "ROS"
I get the following error when I run rosrun super_fast_object_detection rosInference.py

[ERROR] [1622813649.547097]: bad callback: <function on_scan at 0x7fafb9fdef70>
Traceback (most recent call last):
  File "/opt/ros/noetic/lib/python3/dist-packages/rospy/topics.py", line 750, in _invoke_callback
    cb(msg)
  File "/home/ahmed/PCL_OD/SFA3D/ros/src/super_fast_object_detection/src/rosInference.

[2021-06-04 14:05] Zhimin-C commented on #15
Hi,

https://arxiv.org/pdf/2006.15505.pdf
This HorizonLiDAR3D is the top method on the Waymo dataset 3D detection
challenge:
https://waymo.com/open/challenges/2020/3d-detection/
You can refer to their parameters in the experiment part. The height range
is -1 to 3.

Zhimin Chen

On Fri, Jun 4, 2021 at 9:30 AM SofianeB-03 ***@***.***> wrote:

[2021-06-04 15:48] SofianeB-03 commented on #15
@Zhimin-C Thank you very much for your quick response !

[2021-06-07 06:12] charlescho64 opened #45 "Error in visualizing dataset"
Hello..

I have got the below message in visualizing dataset step. What should I do ?

ubuntu@n:~/Documents/SFA3D/sfa/data_process$ python3 kitti_dataset.py
Press n to see the next sample >>> Press Esc to quit...
Traceback (most recent call last):
  File "kitti_dataset.py", line 296, in <module>
    bev_map, labels, img_rgb, img_path = dataset.draw_img_with_label(idx)
  File "kitti_dataset.py", li

[2021-06-07 07:47] vivi0604 commented on #40
请问您有遇到val_loss曲线先下降后上升的情况吗，如下图：
![image](https://user-images.githubusercontent.com/38038575/120978696-55ed1a00-c7a7-11eb-8c4a-b531752ded82.png)
我并没有改作者的代码，也没有改参数，可是训练出来的模型效果远远不如作者提供的预训练模型（用kitti数据集），请问您可以给我提供一些建议使它work吗?

[2021-06-19 01:17] #45 closed

[2021-07-08 03:27] cuge1995 commented on #3
why still not have that report ?

[2021-07-08 03:27] cuge1995 opened #46 "Looking forward to the ROS documentation"

[2021-07-22 23:24] chyphen7 commented on #9
How do we generate labels for each of our own data?   Thanks.

[2021-08-30 17:00] yukaryote opened #48 "KeyError: 'optimizer' when resuming training from checkpoint"
I am trying to resume training from the checkpoint provided in the repo (fpn_resnet_18_epoch_300.pth), and when I run `python train.py --gpu_idx 0 --resume_path ../checkpoints/fpn_resnet_18/fpn_resnet_18_epoch_300.pth` I get this error:

`Traceback (most recent call last):
  File "train.py", line 281, in <module>
    main()
  File "train.py", line 67, in main
    main_worker(configs.gpu_idx, confi

[2021-09-21 19:19] mouawiya opened #49 "Cuda out of memory"
hello, i am currently always facing a cuda out of memory error when i run the train.py file, i looked though the internet it said that i needed to lower the batch size but i don't know how to dot that, there isn't like a clear batch size number or value i can decrease, so can you please help me.

[2021-10-27 07:48] Raviteja-T opened #50 "cv2.line(img, (corners_int[0, 0], corners_int[0, 1]), (corners_int[3, 0], corners_int[3, 1]), (255, 255, 0), 2)"
Solution :

cv2.line(img, (int(corners_int[0, 0]), int(corners_int[0, 1])), (int(corners_int[3, 0]), int(corners_int[3, 1])), (255, 255, 0), 2)

[2021-10-27 07:48] #50 closed, assigned to nobody

[2021-11-08 04:27] urbansound8K commented on #49
python train.py --gpu_idx 0 --batch_size 1

[2021-11-10 09:37] urbansound8K commented on #44
could you find ROS documentation?
the page is not working anymore!!!

[2021-11-25 03:10] urbansound8K commented on #35
how can I make that from a data lidar itself? I mean a real-time instead of getting a saved data only

[2022-01-05 03:46] KangchengLiu opened #52 "Visualization of predictions compared with Ground Truth"
Great work! Could you pls provide how to do visualization of predictions compared with Ground Truth?

[2022-01-05 16:08] mouawiya opened #53 "Front view"
thank you for this work, can you please provide the same method with a Front view solution not BEV??

[2022-01-12 11:30] rajeshchiplogictech opened #54 "how to get boundry parameters?"
in kitti_config.py, there is paramter boundary and the values is boundary = {
    "minX": 0,
    "maxX": 50,
    "minY": -25,
    "maxY": 25,
    "minZ": -2.73,
    "maxZ": 1.27
}.

so my question is how i get this paramter values from my dataset. i have .las and .bin point cloud files only. also i dont have calib files. so can i used kitti calib files?

[2022-01-13 09:01] rajeshchiplogictech commented on #1
Hi @maudzung ,

i want to train my own dataset. but i dont know what values i changed in kitti_configs. i see boundry paramters like this boundary = {
    "minX": 0,
    "maxX": 50,
    "minY": -25,
    "maxY": 25,
    "minZ": -2.73,
    "maxZ": 1.27
}.
so how i get this values from my dataset. i have .las file only.

[2022-01-21 01:31] vidit2011998 opened #55 "AttributeError: module 'rospkg' has no attribute 'RosPack'"

[2022-01-21 21:59] vidit2011998 commented on #55
Hi everyone, I am facing this issue. Did all steps but still this error:
Traceback (most recent call last):
  File "/home/vidit/Downloads/SFA3D/ros/src/super_fast_object_detection/src/rosInference.py", line 2, in <module>
    import sensor_msgs.point_cloud2 as pc2
  File "/opt/ros/melodic/lib/python2.7/dist-packages/sensor_msgs/point_cloud2.py", line 48, in <module>
    import roslib.message
  Fil

[2022-02-14 15:06] Sunganghao opened #56 "Using the model trained on the kitti dataset, testing our own dataset"
hi，guys，I used the kitti dataset from the project for training and the resulting model was used to detect the vehicles in my own dataset and why it was invalid.My own dataset has been converted to kitti format (.bin) and is displayed correctly in the test, but it does not show the red box in the point cloud plot.
![image](https://user-images.githubusercontent.com/62990627/153889250-c8c755ff-508a-4

[2022-02-17 04:43] safaATcurrus opened #57 "run model live"
How can we use the model on a lidar sensor? can you add some explanation for that?

[2022-02-23 15:32] hgoyal194 opened #58 "NameError: name 'labels' is not defined"
`  File "training.py", line 502, in <module>
    train()
  File "training.py", line 197, in train
    main_worker(configs.gpu_idx, configs)
  File "training.py", line 313, in main_worker
    actual_detections_2d = get_2d_mapping(labels, type='label')
NameError: name 'labels' is not defined`

after validation check it giving me this error

[2022-03-02 07:56] bhaskar-anand-iith opened #59 "How to train the model for other classes and larger range"
Thank you for this code.

I am facing a problem while using ROS implementation of SFA3D on my data. The detected bounding box disappears after certain distance (say 40m). Also other classes like pedestrian, truck are not detected.

May I know how to train this model for larger distance (100m) and for other classes (pedestrain, truck Bus )

[2022-03-15 20:35] novoforce commented on #39
yes you can. Just use` --no_cuda` flag while running the code

[2022-03-30 11:29] TheGodOfWar007 opened #61 "Update the ROS Nodes for newer versions of OpenCV"
Outdated enum variables are causing build failures with newer versions of OpenCV, especially the `CV_AA` and `CV_FILLED` markers in the `visualize_rects.h` header file from the `detected_objects_visualizer` package. Consider replacing them by the newer versions `cv::LINE_AA` and `cv::FILLED`. Please make the requisite changes in the other files as well. I will post if I come across similar bugs, b

[2022-04-12 00:58] cltdevelop opened #62 "principle of makeBEVMap"
Anyone can help me. I really do not understand the principle of makeBEVMap function, can you explain it step by step. Thank you very much in advance!

def makeBEVMap(PointCloud_, boundary):
    Height = cnf.BEV_HEIGHT + 1
    Width = cnf.BEV_WIDTH + 1

    # Discretize Feature Map
    PointCloud = np.copy(PointCloud_)
    PointCloud[:, 0] = np.int_(np.floor(PointCloud[:, 0] / cnf.DISCRETIZATION))

[2022-04-27 11:38] Shiv1799 opened #63 "Conversion of lidar data (.las) to binary lidar data (.bin) format (Kitti dataset format)"
I am new to lidar technology and I am stuck. So I wanted a suggestion
I have a .las file (lidar data) obtained from the high-speed phase-based laser scanner. So the problem is the algorithms for object detection in the 3D point cloud work on the .bin(Kitti dataset format) file. I wanted to know if this conversion can be achieved

[2022-04-27 15:44] ZhengXinyue opened #64 "Different intensity range and scale for different lidar?"
Hi, thanks for your excellent work and I have successfully made it work with kitti dataset.
But in the ros version, the pointcloud  data process is a little different:
[code]
The intensity is divided by 100.
 Is this because the pointcloud in kitti dataset has been divided by 100 when collected and stored? So it also needs this division in the ros version?
I also notice that the range of pointclou

[2022-05-01 18:30] sisaha9 opened #65 "What are the camera calibration matrices used for in training?"
Can we make do without them?

[2022-05-02 01:06] maudzung commented on #65
No, I used only lidar data to train the SFA3D model. Images were only used for output visualization.

[2022-05-02 01:06] #65 closed

[2022-05-02 01:09] sisaha9 commented on #65
Hi @maudzung . Thanks for the quick reply. We tested by removing the images (which worked) and the camera calibration matrices (which did not work). So it is being read in for the train script. Would you know why/which file I should look at to get rid of the dependency?

[2022-05-02 01:09] maudzung commented on #62
Hi @cltdevelop
Please refer to **section 2.1** in [this paper](https://arxiv.org/pdf/1803.06199.pdf)

[2022-05-02 01:09] #62 closed

[2022-05-02 01:10] maudzung commented on #49
Thanks @urbansound8K

[2022-05-02 01:10] #49 closed

[2022-05-02 01:12] maudzung commented on #53
Thanks for your suggestion, I'll investigate the FV-based solution.

[2022-05-02 01:12] #53 closed

[2022-05-02 01:12] maudzung commented on #52
Thanks for your suggestion. I'll do it soon

[2022-05-02 01:12] #52 closed

[2022-05-02 01:13] maudzung commented on #48
Hi @yukaryote
I saved weights & optimizer states in 2 files

[2022-05-02 01:13] #48 closed

[2022-05-02 01:15] maudzung commented on #12
Hi @gujiaqivadin
Please refer to [this PR](https://github.com/maudzung/SFA3D/pull/47)

[2022-05-02 01:15] #12 closed

[2022-05-02 01:16] #43 closed

[2022-05-02 01:16] #36 closed

[2022-05-02 01:17] maudzung commented on #56
Can you please share with me your LiDAR specs?

[2022-05-02 01:18] maudzung commented on #57
Sure, you can do it

[2022-05-02 01:18] #57 closed

[2022-05-02 01:20] maudzung commented on #42
Hi @SofianeB-03
I'm sorry. I don't have enough resources to run experiments on the Waymo dataset...

[2022-05-02 01:20] #42 closed

[2022-05-02 01:21] maudzung commented on #59
Hi @bhaskar-anand-iith
Sure, you can modify the config [here](https://github.com/maudzung/SFA3D/blob/master/sfa/config/kitti_config.py)

[2022-05-02 01:21] #59 closed

[2022-05-02 01:23] maudzung commented on #64
Hi @ZhengXinyue
Thanks for your points. I think there's a bug in the ROS implementation. Let me double-check the issue.

[2022-05-02 01:23] #64 closed

[2022-05-02 01:24] maudzung commented on #54
Hi @rajeshchiplogictech
Point clouds are stored in a NumPy array. You can easily get the min and max values of the data.

[2022-05-02 01:24] #54 closed

[2022-05-02 01:27] maudzung commented on #41
Hi @shen1994
Thanks for your observation. I agree with your points. We always need to trade-off between accuracy and speed.

[2022-05-02 01:27] #41 closed

[2022-05-02 01:27] maudzung commented on #39
Thanks @novoforce

[2022-05-02 01:27] #39 closed

[2022-05-02 01:28] #38 closed

[2022-05-02 01:29] maudzung commented on #33
You can refer to [this PR](https://github.com/maudzung/SFA3D/pull/47)

[2022-05-02 01:29] #33 closed

[2022-05-02 01:30] maudzung commented on #32
Thanks @wangx1996
I should close this issue. I'll update if I done the pillar-based implementation

[2022-05-02 01:30] #32 closed

[2022-05-02 01:30] #34 closed

[2022-05-02 01:30] #29 closed

[2022-05-02 01:31] #15 closed

[2022-05-02 01:31] #9 closed

[2022-05-02 01:32] maudzung commented on #37
You can refer to [this PR](https://github.com/maudzung/SFA3D/pull/47)

[2022-05-02 01:32] #37 closed

[2022-05-02 01:32] #35 closed

[2022-05-02 01:34] maudzung commented on #61
For ROS implementation, please contact @AhmedARadwan to get instructions. Many thanks

[2022-05-02 01:34] #61 closed

[2022-05-02 01:34] maudzung commented on #44
For ROS implementation, please contact @AhmedARadwan to get instructions. Many thanks

[2022-05-02 01:34] #44 closed

[2022-05-02 01:34] maudzung commented on #46
For ROS implementation, please contact @AhmedARadwan to get instructions. Many thanks

[2022-05-02 01:34] #46 closed

[2022-05-02 01:34] maudzung commented on #55
For ROS implementation, please contact @AhmedARadwan to get instructions. Many thanks

[2022-05-02 01:34] #55 closed

[2022-05-02 01:35] #40 closed

[2022-05-02 04:11] safaATcurrus commented on #57
I asked how and I asked if someone can add an explanation for that?

"How can we use the model on a lidar sensor? can you add some explanation for that?"
________________________________
From: Nguyen Mau Dzung ***@***.***>
Sent: Sunday, May 1, 2022 9:19 PM
To: maudzung/SFA3D ***@***.***>
Cc: Safa Bacanli ***@***.***>; Author ***@***.***>
Subject: Re: [maudzung/SFA3D] run model live (Issue #57)

Su

[2022-05-02 15:24] Sunganghao commented on #56
Thanks for your reply, I tested it with two LiDARs.  Virtual LIDAR is  VLS-128(Matlab/simulink/lidar toolbox)  and  Real LiDAR is VLP-16.

[2022-05-10 07:47] bhaskar-anand-iith opened #66 "Model trained for larger distance not working"
Hi,

I tried training the model to detect for a larger distance.
I changed the kitti_config.py as follows:

boundary = {
    "minX": 0,
    "maxX": 100,
    "minY": -25,
    "maxY": 25,
    "minZ": -2.73,
    "maxZ": 1.27
}

bound_size_x = boundary['maxX'] - boundary['minX']
bound_size_y = boundary['maxY'] - boundary['minY']
bound_size_z = boundary['maxZ'] - boundary['minZ']

boundary_back = {

[2022-05-10 07:56] mouawiya opened #67 "paper"
can you please write a paper or a rapport on the method you used so we could follow the steps of the detection

[2022-05-10 11:49] bhaskar-anand-iith commented on #67
Agreed.. At least a white paper will help to understand the model.
At present the technical details given is too short to understand the model

[2022-06-10 04:22] blueskych opened #68 "question about the hm_main_center in the model"
Hi maudzung,
I want to ask:
1)  about the funcion 'build_targets' in kitti_dataset.py, if the cls_id in my dataset are all >=0, the hm_main_center will always be 0. So
    what is the hm_main_center used for ?  and why do you set the "hm_main_center[ignore_ids, center_int[1], center_int[0]] = 0.9999"
    when the clsid is -1 which should be filterd or discard by us.
2) what is the function gen_hm_

[2022-06-10 07:42] #68 closed

[2022-06-22 21:16] leducnguyen21 opened #69 "Can you tell me more about what 3D-Object-Detection Architecture that you have used and what part in this git? I am still not clear when reading your README file"

[2022-06-23 18:55] Arshad9544 opened #70 "Cannot get detections on VLP 16 lidar data"
I tried using the pre-trained model on data from VLP 16 Lidar but couldn't get any detections. Will it work if I change the kitti config file or how the BEV map is formed. Please help. Thank you

[2022-06-24 05:52] maudzung commented on #69
Hi @leducnguyen21
As I mentioned in the README.md file, I described the technical details in [this file](https://github.com/maudzung/SFA3D/blob/master/Technical_details.md)

[2022-06-24 05:52] #69 closed

[2022-06-24 05:53] maudzung commented on #67
I'm sorry. I only reported the technical details in [the note](https://github.com/maudzung/SFA3D/blob/master/Technical_details.md)

[2022-06-24 05:53] #67 closed

[2022-06-24 05:54] maudzung commented on #70
Point clouds collected from 16-channel LiDARs are quite sparse, so you need to retrain the model to get better accuracy.

[2022-06-24 05:54] #70 closed

[2022-06-24 08:55] leducnguyen21 commented on #69
Thank you for your response

Vào Th 6, 24 thg 6, 2022 vào lúc 12:52 Nguyen Mau Dzung <
***@***.***> đã viết:

[2022-06-26 06:22] ncusspm25 opened #71 "2D pcd file testing"
Thank you for such a good work.
I want to train my own 2D lidar pcd without calib and image file.
But when I train successfully, test.py can't detect my item.
I think it's related to bev or some other issue.
Which file should I modify?
Thank you very much!

[2022-08-25 11:22] yukun093 commented on #71
Hi, have you solved your problem to train your own dataset?

[2022-08-29 11:14] rohithsaro commented on #64
@ZhengXinyue
Heyy, i am facing the same issue with the Ouster OS-1, just wanted to know whether you solved it ? :)

[2022-08-29 11:38] ZhengXinyue commented on #64
No, the author doesn't reply since then. @rohithsaro

[2022-09-28 12:59] telemetrieTP23 opened #73 "core ml"

[2022-09-28 13:00] telemetrieTP23 commented on #73
Not planned

[2022-10-21 09:46] ausk opened #75 "corners_int is not int type"
[code]

[2022-10-24 12:31] ausk commented on #75
Fixed by: https://github.com/maudzung/SFA3D/pull/74

[2022-10-24 12:31] #75 closed